.navbar-container {
  z-index: 2;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  height: 95px;
}

.logo {
  position: absolute;
  top: 15px;
  left: 60px;
  width: 70px;
  z-index: 3;
}

.contact-link {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  color: #fff;
  position: absolute;
  right: 60px;
  top: 40px;
  font-size: 1.4em;
  font-style: normal;
  font-weight: 400;
  top: 30px;
}
